In [1]:
import pandas as pd

df = pd.read_csv("data.csv", sep=';')
df

    REC      Age  Income Student Credit_rating Buys_computer
0    r1     <=30    High      No          Fair            No
1    r2      =30    High      No     Excellent            No
2    r3  31...40    High      No          Fair           Yes
3    r4      >40  Medium      No          Fair           Yes
4    r5       40     Low     Yes          Fair           Yes
5    r6      >40     Low     Yes     Excellent            No
6    r7  31...40     Low     Yes     Excellent           Yes
7    r8     <=30  Medium      No          Fair            No
8    r9      <30     Low     Yes          Fair           Yes
9   r10       40  Medium     Yes          Fair           Yes
10  r11     <=30  Medium     Yes     Excellent           Yes
11  r12  31...40  Medium      No     Excellent           Yes
12   13  31...40    High     Yes          Fair           Yes
13  r14       40  Medium      No     Excellent            No
14  r15       30  Medium      No     Excellent            No
15  r16     <=30     Low      No          Fair            No
16  r17     <=30     Low      No     Excellent            No
17  ri8  31...40     Low     Yes          Fair           Yes
18  r19      >40  Medium     Yes     Excellent           Yes
19  r20  31...40    High      No     Excellent           Yes

In [16]:
#source: https://www.programcreek.com/python/?CodeExample=calculate+entropy

import numpy as np
import math

def calculate_entropy(y):
    """ Calculate the entropy of label array y """
    log2 = lambda x: math.log(x) / math.log(2)
    unique_labels = np.unique(y)
    entropy = 0
    for label in unique_labels:
        count = len(y[y == label])
        p = count / len(y)
        entropy += -p * log2(p)
    return entropy 

entropy_buys_computer = calculate_entropy(df['Buys_computer'])
entropy_buys_computer

0.9709505944546686

In [43]:
##entropy of age and buys_computer

def calculate_two_way_entropy(df):
    result = 0
    for option in ['Yes', 'No']:
        if df[option] > 0:
            p = df[option]/df['sum']
            result += -p * (math.log(p) / math.log(2))
    
    return result

In [47]:
frequency_table_age = pd.crosstab(index=df['Age'], columns=df['Buys_computer'])
frequency_table_age

Buys_computer  No  Yes
Age
30              1    0
31...40         0    6
40              1    2
<30             0    1
<=30            4    1
=30             1    0
>40             1    2

In [51]:
information_gain = pd.DataFrame()
for attribute in df.columns:
    frequency_table = pd.crosstab(index=df[attribute], columns=df['Buys_computer'])
    frequency_table['sum'] = frequency_table.sum(axis=1)
    frequency_table['entropy'] = frequency_table.apply(lambda x: calculate_two_way_entropy(x), axis=1)
    frequency_table['p_of_yes'] = frequency_table.apply(lambda x: x['Yes']/frequency_table['Yes'].sum(axis=0), axis=1)
    frequency_table['entropy_proportion'] = frequency_table.apply(lambda x: x['entropy'] * x['p_of_yes'], axis=1)
    entropy_attribute = frequency_table['entropy_proportion'].sum(axis=0)
    information_gain[attribute] = [entropy_buys_computer - entropy_attribute]
    
information_gain

        REC       Age    Income   Student  Credit_rating  Buys_computer
0  0.970951  0.604691  0.002123  0.320225       0.040198       0.970951

***First split is at 'Age'***

In [57]:
df = df.sort_values(by=["Age"], ascending=1)
df

    REC      Age  Income Student Credit_rating Buys_computer
14  r15       30  Medium      No     Excellent            No
19  r20  31...40    High      No     Excellent           Yes
17  ri8  31...40     Low     Yes          Fair           Yes
2    r3  31...40    High      No          Fair           Yes
12   13  31...40    High     Yes          Fair           Yes
6    r7  31...40     Low     Yes     Excellent           Yes
11  r12  31...40  Medium      No     Excellent           Yes
4    r5       40     Low     Yes          Fair           Yes
13  r14       40  Medium      No     Excellent            No
9   r10       40  Medium     Yes          Fair           Yes
8    r9      <30     Low     Yes          Fair           Yes
10  r11     <=30  Medium     Yes     Excellent           Yes
7    r8     <=30  Medium      No          Fair            No
15  r16     <=30     Low      No          Fair            No
16  r17     <=30     Low      No     Excellent            No
0    r1     <=30    High      No          Fair            No
1    r2      =30    High      No     Excellent            No
18  r19      >40  Medium     Yes     Excellent           Yes
5    r6      >40     Low     Yes     Excellent            No
3    r4      >40  Medium      No          Fair           Yes